/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* 12:49 */

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --primary-color: #f6df51;
  --text-color: #1f1f1f;
  --text-color2: #fce132;
}

body {
  font-family: "Ubuntu", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  display: inline-block;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  background: url("../images/bg-img.jpg");

  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.header .nav-bar {
  width: 100%;
  height: 80px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.header .nav-bar .logo {
  margin-left: 200px;
}

.header .nav-bar .logo a {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-color);
}

.header .nav-bar .menu ul li {
  margin-right: 30px;
}
.header .nav-bar .menu ul li a {
  font-size: 22px;
  padding: 0 20px;
  color: var(--text-color);
}

.logo-icon {
  position: absolute;
  top: 50px;
  left: 30px;
}

.logo-icon i {
  font-size: 55px;
  color: var(--text-color2);
}

.hero {
  width: 100%;
}
.hero .row {
  width: 80%;
  position: relative;
  display: flex;
  padding-top: 120px;
  margin: auto;
}

.hero .row .left-section {
  max-width: 60%;
  margin-left: 50px;
}

.hero .row .left-section .title {
  font-size: 95px;
  margin-top: 10px;
  margin-left: 40px;
  color: var(--text-color);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.hero .row .left-section p {
  font-size: 19px;
  margin: 30px 30px 50px 50px;
  letter-spacing: 1px;
  color: var(--text-color);
  padding-right: 250px;
  line-height: 30px;
}
.hero .row .left-section .btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  widows: 100%;
  position: relative;
  margin-top: 20px;
  margin-left: 50px;
}

.hero .row .left-section .btn-group .btn-one {
  display: block;
  width: 150px;
  font-size: 17px;
  font-weight: 700;
  margin-right: 50px;
  color: var(--text-color);
  letter-spacing: 1px;
  padding: 20px 35px;
  background-color: var(--text-color2);
  margin-right: 150px;
  box-shadow: rgb(0, 0, 0, 0.16) 0 10px 36px 0px,
    rgb(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.4s;
}

.hero .row .left-section .btn-group .btn-one:hover {
  background-color: #fdb100;
}

.hero .row .left-section .btn-group .btn-two {
  font-size: 19px;
  font-weight: 700;
  color: var(--text-color);
  position: relative;
}
.hero .row .left-section .btn-group .btn-two:after {
  content: "";
  position: absolute;
  width: 415px;
  height: 2px;
  background-color: #1f1f1f;
  top: 50%;
  left: 165px;
}

.hero .right-section {
  width: 40%;
  padding-top: 20px;
}

.hero .right-section .item {
  width: 500px;
  height: 500px;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

.hero .right-section .item img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.slick-next {
  right: 120%;
}

.slick-prev,
.slick-next {
  margin-top: -355px;
  top: 130% !important;
}
.slick-prev::before {
  content: "→";
  background-color: var(--primary-color);
}
.slick-next::before {
  content: "←";
  background-color: #fff;
}

.slick-next::before,
.slick-prev::before {
  font-size: 35px;
  color: #1f1f1f;
  font-family: fontAwesome;
  padding: 10px 15px;
  opacity: 1;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.14);
}
.slick-slide {
  outline: none;
}

.social-media ul {
  position: absolute;
  left: 43px;
  top: 35%;
}

.social-media ul li {
  display: block;
  position: relative;
  margin-bottom: 50px;
}
.social-media ul li i {
  color: #fff;
}

.social-media ul li i:hover {
  color: var(--primary-color);
}
.social-media ul li:last-child:after {
  content: "";
  position: absolute;
  height: 150px;
  width: 1px;
  background-color: #888;
  z-index: 2;
  left: 50%;
  top: 40px;
}

.google-play {
  position: absolute;
  bottom: 20px;
  left: 40px;
  transition: all 0.4s;
}

.google-play i {
  font-size: 35px;
  color: #fff;
}
.google-play i:hover {
  color: var(--primary-color);
}
